body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.keyboard-base{
    max-width: 1085px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}

.key{
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    grid-column: span 2;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;  
}

.Delete{
    grid-column: span 4;
}

.tab{
    grid-column: span 3;
}

.backslash{
    grid-column: span 3;
}

.CapsLock{
    grid-column: span 4;
}

.Return{
    grid-column: span 4;
}

.Shift{
    grid-column: span 5;
}

.space{
    grid-column: span 12;
    font-size: 25px;
}

.esc{
    grid-column: span 5;
}

