.Up {
    animation: var(--duration) Up var(--time-funct) var(--count);
}
@keyframes Up {
    0% {
        opacity: 0.7;
        transform: translateY(2000px) scale(0.7);
    }
    80% {
        opacity: 0.7;
        transform: translateY(0px) scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
