@import url(common.css);

.backOutDown {
    animation-name: backOutDown;
    animation-duration: var(--duration);
    animation-timing-function: var(--time-function);
    animation-iteration-count: var(--count);
}

@keyframes backOutDown {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        transform: translateY(0px);
        transform: scale(0.7);
        opacity: 0.7;
    }
    100% {
        transform: translateY(2000px) scale(0.7);
        opacity: 0.7;
    }
}
