.heart-beat {
    animation: heart-beat var(--duration) var(--count);
}

@keyframes heart-beat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.5);
    }
}
