.rotatein {
    animation: RotateIn ease 1s;
    animation-iteration-count: infinite;
}

@keyframes RotateIn {
    from {
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
