* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container {
    padding: 15px 10%;
    padding-bottom: 100px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 15px;
}

.container .box-container .box {
    border-radius: 5px;
    text-align: center;
    background: #fff;
    padding: 50px 5px;
    border: 2px solid black;
}

.container .box-container .box h2{
    font-size: 15px;
}

.container .box-container .box img {
    height: 50%;
    width: 100px;
}

.container .box-container .box p {
    color: black;
    text-align: left;
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 12px;
    padding: 0;
}

.container .box-container .box .btn {
    display: inline-block;
    background: yellow;
    color: black;
    font-size: 17px;
    margin-top: 10px;
    padding: 8px 25px;
    border-radius: 10px;
}

@media (max-width:768px){
    .container{
        padding: 20px;
    }
}