main {
    margin: 3rem;
    display: flex;
    gap: 2rem;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    background: grey;
}
img {
    width: 100%;
}

article {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
}
