.container {
    display: flex;
}
.circle {
    clip-path: circle(50%);
    height: 60px;
    width: 60px;
    background-color: palevioletred;
}
.square {
    height: 60px;
    width: 60px;
    background-color: lightblue;
}
.traingle {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    height: 60px;
    width: 60px;
    background-color: mediumaquamarine;
}
