.animation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    place-content: center;
}
.bouncein {
    animation: bouncein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bouncein {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
