* {
    margin: 0;
    padding: 0;
}

body {
    margin: 35px;

}

.size {
    margin: 10px;
    height: 70%;
    width: 10%;
    font-size: 40px;
    border-radius: 10px;
}

.inp {
    width: 45%;
}