.main {
    background-color: white;
    width: 1400px;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #f4f0fa;
    padding-left: 50px;
}
#acc_cont {
    display: grid;
    border: 1px solid purple;
    padding-left: 10px;
    text-align: center;
    background-color: white;
    grid-template-columns: auto auto auto;
    height: 50px;
    font-size: large;
}
#home {
    border: 1px solid purple;
    height: 50px;
    text-align: center;
    background-color: white;
    font-size: large;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.home_i {
    border-right: 1px solid purple;
    padding-top: 10px;
    list-style-type: none;
}
#view {
    border: 1px solid purple;
    height: 50px;
    text-align: center;
    background-color: white;
    font-size: large;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 1000px;
    margin-left: 100px;
    list-style-type: none;
}
.view_i2 {
    border-right: 1px solid purple;
    padding-top: 10px;
}
.search {
    margin-left: 900px;
    border-left: 1px solid purple;
}
#online-area {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}
.online-advice-donate-shop {
    padding-top: 50px;
}
.scope {
    background-color: rgb(96, 33, 155);
}
.contact {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0px 100px 0px 55px;
}
.contact div a {
    color: white;
}
h3,
h4 {
    color: yellow;
}
h3 {
    padding-left: 60px;
    width: 100px;
}
h1,
h2 {
    color: purple;
    margin-left: 100px;
    margin-right: 100px;
}
.form {
    display: grid;
    height: 40px;
    grid-template-columns: auto auto;
    background-color: white;
    border-radius: 20px;
    margin-left: 50px;
    text-align: center;
    color: grey;
}
.Menu {
    display: flex;
    padding-left: 15px;
    list-style-type: none;
    color: white;
}
#join {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 10px;
}
.Menu nav li a {
    color: white;
    padding-bottom: 10px;
}
.signup {
    color: white;
}
.load {
    border: 1px solid purple;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    margin-left: 600px;
}
#blog {
    height: 1150px;
    text-align: center;
    background-color: white;
    font-size: large;
    width: 1300px;
    margin-left: 100px;
}
.blog1,
.blog2 {
    border: 1px solid #f4f0fa;
    float: left;
    border-radius: 15px;
    background-color: #f4f0fa;
    margin: 50px 50px 0px 0px;
    height: 500px;
}
.blog1 {
    width: 550px;
}
.blog2 {
    width: 380px;
}
.img,
.img2 {
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.img {
    width: 550px;
}
.img2 {
    width: 380px;
}
h5 {
    color: purple;
}
